<div class="row">
    <h1>ACCESOS ESPECIALES</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>SISTEMAS POLICIALES</h1> - <h3></h3></li>
            <div class="redes">
                <div>
                    
                    <form action="http://10.1.150.110">
                        <input type="submit" value="IR A SISTEMAS ON-LINE" />
                    </form>
                </div>
                
            </div>
        </ul>
        <ul>
            <li><h1>BASE DE ARCHIVOS</h1> - <h3></h3></li>
            <h2>ESTE ACCESO LO DIRIJIRA A DESCARGAR ARCHIVOS NECESARIOS SEGUN REQUERIMIENTOS</h2>
            <div class="redes">
                <div>
                    
                    <form action="http://10.1.150.110">
                        <input type="submit" value="IR A BASE DE ARCHIVOS" />
                    </form>
                </div>
                
            </div>
        </ul>
        <ul>
            <li><h1>Archivo Especial 3</h1> - <h3></h3></li>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nesciunt dignissimos esse maxime voluptas id eaque, placeat quia sequi dicta, nemo quo sint quod reprehenderit in quam! Deleniti, eligendi assumenda?</h2>
        </ul>
    </div>
</div>
