<div class="row">
    <h1>CARACTERISTICAS DE LOS ARCHIVOS</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>ARCHIVO 1</h1> - <h3></h3></li>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nesciunt dignissimos esse maxime voluptas id eaque, placeat quia sequi dicta, nemo quo sint quod reprehenderit in quam! Deleniti, eligendi assumenda?</h2>
        </ul>
        <ul>
            <li><h1>ARCHIVO 2</h1> - <h3></h3></li>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nesciunt dignissimos esse maxime voluptas id eaque, placeat quia sequi dicta, nemo quo sint quod reprehenderit in quam! Deleniti, eligendi assumenda?</h2>
        </ul>
        <ul>
            <li><h1>ARCHIVO 3</h1> - <h3></h3></li>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nesciunt dignissimos esse maxime voluptas id eaque, placeat quia sequi dicta, nemo quo sint quod reprehenderit in quam! Deleniti, eligendi assumenda?</h2>
        </ul>
    </div>
</div>

